Four tables (Maybe allow to add more)
Two people per table
Count wins and loses
Assign chips based on APA skill level
Send text when persons turn
Make a queue of people in line to play
When someone Leaves a table they go to the end of the line

JSON database
