Start with one billiards table and allow to add more
Allow for link to live game (in app streaming?)
Two people per table
Count wins and loses
Assign chips based on APA skill level
Send notification when persons turn
Make a queue of people in line to play allow to move people in queue drag and drop
When someone loses they lose a chip and go to the end of the queue
Count position in queue
Mobil application and Desktop views

How can I manage admin and user controls?
How to tie in APA account with user account on application?

APIs: https://api.poolplayers.com/
Free Cloud Hosting: AWS, Firebase
SQL Database / frontend 
